GeneratedClient/Service References/StockServiceSOAP/EssentialWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://EssentialWCF" elementFormDefault="qualified" targetNamespace="http://EssentialWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Price">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
  <xs:complexType name="StockPrice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Price">
        <xs:sequence>
          <xs:element minOccurs="0" name="test" type="xs:double" />
          <xs:element name="CurrentPrice" type="xs:double" />
          <xs:element name="CurrentTime" type="xs:dateTime" />
          <xs:element name="Ticker" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DailyVolume" type="xs:long" />
          <xs:element minOccurs="0" name="DaylyChange" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockPrice" nillable="true" type="tns:StockPrice" />
</xs:schema>