GeneratedClient/Service References/StockServiceSOAP/EssentialWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EssentialWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EssentialWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PriceDetails">
    <xs:sequence>
      <xs:element name="Amount" type="xs:double" />
      <xs:element name="Ticker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceDetails" nillable="true" type="tns:PriceDetails" />
</xs:schema>