GeneratedClient/Service References/StockServiceSOAP/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://EssentialWCF" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EssentialWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockService_GetDDS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDDS" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetDDS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDDSResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetPriceWithDDS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceWithDDS" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetPriceWithDDS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceWithDDSResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_OneWay_InputMessage">
    <wsdl:part name="parameters" element="tns:OneWay" />
  </wsdl:message>
  <wsdl:message name="IStockService_NotOneWay_InputMessage">
    <wsdl:part name="parameters" element="tns:NotOneWay" />
  </wsdl:message>
  <wsdl:message name="IStockService_NotOneWay_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotOneWayResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockPrice" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetStockPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockPriceResponse" />
  </wsdl:message>
  <wsdl:message name="StockPriceReq">
    <wsdl:part name="parameters" element="tns:StockPriceReq" />
  </wsdl:message>
  <wsdl:message name="StockPriceSOAP">
    <wsdl:part name="parameters" element="tns:StockPriceSOAP" />
  </wsdl:message>
  <wsdl:message name="StockPriceSOAP_Headers">
    <wsdl:part name="CurrentTime" element="tns:CurrentTime" />
  </wsdl:message>
  <wsdl:portType name="IStockService">
    <wsdl:operation name="GetDDS">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetDDS" message="tns:IStockService_GetDDS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetDDSResponse" message="tns:IStockService_GetDDS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceWithDDS">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetPriceWithDDS" message="tns:IStockService_GetPriceWithDDS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetPriceWithDDSResponse" message="tns:IStockService_GetPriceWithDDS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OneWay">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/OneWay" message="tns:IStockService_OneWay_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotOneWay">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/NotOneWay" message="tns:IStockService_NotOneWay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/NotOneWayResponse" message="tns:IStockService_NotOneWay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetStockPrice" message="tns:IStockService_GetStockPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetStockPriceResponse" message="tns:IStockService_GetStockPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockPriceSOAP">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetStockPriceSOAP" name="StockPriceReq" message="tns:StockPriceReq" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetStockPriceSOAPResponse" name="StockPriceSOAP" message="tns:StockPriceSOAP" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockService" type="tns:IStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDDS">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetDDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceWithDDS">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetPriceWithDDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OneWay">
      <soap:operation soapAction="http://tempuri.org/IStockService/OneWay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotOneWay">
      <soap:operation soapAction="http://tempuri.org/IStockService/NotOneWay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockPrice">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetStockPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockPriceSOAP">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetStockPriceSOAP" style="document" />
      <wsdl:input name="StockPriceReq">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StockPriceSOAP">
        <soap:header message="tns:StockPriceSOAP_Headers" part="CurrentTime" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="BasicHttpBinding_IStockService" binding="tns:BasicHttpBinding_IStockService">
      <soap:address location="http://localhost:8000/EssentialWCF" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>